<h1><%= current_user.name %> - Accounts</h1>

<ul>
<% @accounts.each do |account| %>
  <li><%= account.name %></li>
<% end %>
</ul>

<%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
