<h1>Candidates</h1>
<table>
  <tr>
    <th>Candidate Name</th>
    <th>Candidate Email</th>
  </tr>
<% @candidates.each do |candidate| %>
  <tr>
    <th><%= candidate.name %></th>
    <th><%= candidate.email %></th>
  </tr>
<% end %>
</table>

<h2>Candidate of the week</h2>
Name: <%= @candidate_of_the_week.name %>
Email: <%= @candidate_of_the_week.email %>
